################################ HyperScale #########################################

Vous êtes sur le serveur nommé {{ inventory_hostname }}
------------------------------------------------------------------------------------
Attention: 
{{ texte }}
------------------------------------------------------------------------------------

You are trying to connect to a restricted area. This system is the property of
the "HyperScale", users (authorized or unauthorized) have no explicit or implicit
expectation of privacy. Any or all uses of this system and all files on this
system may be intercepted, monitored, recorded, copied, audited, inspected, and
disclosed to the administrators.

If you're not authorized please disconnect NOW.

################################ HyperScale #########################################
